@import "tailwindcss";

/* ===== Color Palette ===== */

:root {

  /* Main Colors */

  --primary: #F97316;        /* Orange */
  --primaryHover: #FB923C;

  --navbar: #111827;         /* Dark */
  --sidebar: #111827;

  --background: #F9FAFB;     /* Light Gray */
  --card: #FFFFFF;


  /* Text Colors */

  --textDark: #111827;
  --textLight: #6B7280;


  /* Status Colors */

  --success: #22C55E;
  --danger: #EF4444;
  --warning: #F59E0B;

}


/* ===== Global Style ===== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--textDark);
  font-family: 'Work Sans', sans-serif;
}



/* ===== Navbar ===== */

.navbar {

  background-color: var(--navbar);
  color: white;

}



/* ===== Buttons ===== */

.btn-primary {

  background-color: var(--primary);
  color: white;
  transition: 0.3s;

}

.btn-primary:hover {

  background-color: var(--primaryHover);

}



/* ===== Cards ===== */

.card {

  background-color: var(--card);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);

}